<div class="container">
    <form [formGroup]="ResetForm" class="login-form">
        <div>
            <label>EmailId:</label>
            <input type="email" class="form-control " name="Email" formControlName="Email" />
        </div>

        <div>
            <label>Password:</label>
            <input type="password" class="form-control " formControlName="Password" name="password" />
        </div>
        <div>
            <label>ConfirmPassword:</label>
            <input type="text" class="form-control " formControlName="ConfirmPassword" name="ConfirmPassword" />
        </div>
        <button class="btn btn-primary" (click)="ResetPW()">Confirm</button>


    </form>
</div>